<template>
    <b-jumbotron :header="f.title" :lead="f.status | status">
        <h4>Details</h4>
        <div v-if="f.description">Description: {{ f.description }}</div>
        <div v-if="f.amount">Requesting:
            <span style="font-weight: bolder;">{{ f.amount }} BCH</span></div>
        <div>Categories:
            <span v-for="c in f.category" :key="c" style="font-style: italic;">
                #{{ c }}
            </span>
        </div>

        <div v-if="f.tx" style="font-weight: bolder; padding: 1em;">
            🥳 This campaign was funded in transaction
                <a :href="f.tx | txToURL">{{ f.tx | shortID }}</a> 🥳
        </div>

        <div style="margin-top: 1em;">
            <b-button size="lg" block variant="primary" :href="f.url">
                <span v-if="f.status != 'upcoming'">Visit Campaign</span>
                <span v-else>See announcement</span>
            </b-button>
        </div>

        <div style="font-size: 80%; margin-top: 1em;">
            <div v-for="url in f.archive" :key="url">&mdash;&nbsp;<a
                :href="url">Archived copy</a></div>
        </div>

    </b-jumbotron>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

Vue.filter('txToURL', (tx: string) => {
  const url = `https://explorer.bitcoin.com/bch/tx/${tx}`;
  return url;
});

Vue.filter('shortID', (txid: string) => {
  const shortID = `${txid.slice(0, 6)}...${txid.slice(60)}`;
  return shortID;
});

@Component
export default class CampaignJumbotron extends Vue {
  @Prop() private f!: any;
}
</script>
